@charset "utf-8";
/*----------------------skstory----------------------*/

/*뫼비우스 폰트*/
@font-face {
  font-family: 'Moebius';
  src: url('Moebius-Bold.woff2') format('woff2'),
      url('Moebius-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moebius';
  src: url('Moebius.woff2') format('woff2'),
      url('Moebius.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moebius Korea';
  src: url('MoebiusKorea-Bold.woff2') format('woff2'),
      url('MoebiusKorea-Bold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moebius Korea';
  src: url('MoebiusKorea-Regular.woff2') format('woff2'),
      url('MoebiusKorea-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*맑은 고딕*/
@font-face {
  font-family: 'Malgun-Gothic';
  src: url('Malgun-Gothic.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*------------------- 오설록 ---------------------*/

/* fonts - 아리따 돋움 */
@font-face {
  font-family: 'ad';
  font-style: normal;
  font-weight: 200;
  src:url(/kr/ko/static_cdj/fonts/AritaDotumThin.woff2) format('woff2'),
  url(/kr/ko/static_cdj/fonts/AritaDotumThin.woff) format('woff')
}

@font-face {
  font-family: 'ad';
  font-style: normal;
  font-weight: 300;
  src:url(/kr/ko/static_cdj/fonts/AritaDotumLight.woff2) format('woff2'),
  url(/kr/ko/static_cdj/fonts/AritaDotumLight.woff) format('woff')
}

@font-face {
  font-family: 'ad';
  font-style: normal;
  font-weight: 400;
  src:url(/kr/ko/static_cdj/fonts/AritaDotumMedium.woff2) format('woff2'),
  url(/kr/ko/static_cdj/fonts/AritaDotumMedium.woff) format('woff')
}

@font-face {
  font-family: 'ad';
  font-style: normal;
  font-weight: 500;
  src:url(../font/AritaDotumSemiBold.woff2) format('woff2'),
  url(../font/AritaDotumSemiBold.woff) format('woff')
}

@font-face {
  font-family: 'ad';
  font-style: normal;
  font-weight: 600;
  src:url(/kr/ko/static_cdj/fonts/AritaDotumBold.woff2) format('woff2'),
  url(/kr/ko/static_cdj/fonts/AritaDotumBold.woff) format('woff')
}

