@charset "utf-8";
/*----------------------skstory----------------------*/

/*뫼비우스 폰트*/
@font-face {
  font-family: 'Moebius';
  src: url('Moebius-Bold.woff2') format('woff2'),
      url('Moebius-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moebius';
  src: url('Moebius.woff2') format('woff2'),
      url('Moebius.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moebius Korea';
  src: url('MoebiusKorea-Bold.woff2') format('woff2'),
      url('MoebiusKorea-Bold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moebius Korea';
  src: url('MoebiusKorea-Regular.woff2') format('woff2'),
      url('MoebiusKorea-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*맑은 고딕*/
@font-face {
  font-family: 'Malgun-Gothic';
  src: url('Malgun-Gothic.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*------------------- 오설록 ---------------------*/

/* fonts - 아리따 돋움 */
/*출처: https://d2.naver.com/helloworld/4969726*/
@font-face {
  font-family:'aritadt';
  src: url('../font/Arita-dotum-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family:'aritadl';
  src: url('../font/Arita-dotum-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family:'aritadm';
  src: url('../font/Arita-dotum-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family:'aritadsb';
  src: url('../font/Arita-dotum-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family:'aritadb';
  src: url('../font/Arita-dotum-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
